header {
    grid-area: header;
    // background-color: #186adcde;
    background-color: #065dc6;
    padding: 0rem 3.75rem;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // height: 19vh;
    border-bottom: #b9b9b9 solid;

    .navbar {
        .container-fluid {
            .navbar-brand {
                .header__container__logo {
                    // padding-top: .5rem;
                    transition: all .5s ease-in-out;
                    

                    &:hover {
                        transform: scale(1.22);
                    }
                }
            }

            #navbarSupportedContent {
                .navbar-nav {
                    .nav-item {
                        text-decoration: none;
                        font-size: 1.3rem;
                        display: inline-block;
                        text-align: center;
                        border-radius: 30px;

                        &:hover {
                            background: #313233bd;
                            color: #fff;
                            border-radius: 30px;
                            display: inline-block;
                            transition: .7s all ease;
                        }
                        
                        .nav-link {
                            color: #ffffff;
                            &:hover {
                                color: #fff;
                                transition: .8s all ease;
                            }
                        }

                        .dropdown-menu {
                            font-size: 1.1rem;
                            border-radius: 10px;
                            background-color: #f0f4f8d3;

                            li {
                                a {
                                    &:hover {
                                        background-color: #007bff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
